.Product-Btn {
  display: block;
  margin: 15px auto 0px auto;
  background-color: #001e28;
  color: #ffffff;
  box-shadow: 0 0 5px #001e28;
  transition: all 0.2s;
  border: none;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  font-size: 12px;
}

.Product-Btn:hover {
    background-color: #ffffff;
    color: #001e28;
  }